/* =====================================
   Default Light Theme
===================================== */


body {

    background:#f4f7fb;

    color:#333;

    transition:0.3s;

}





/* =====================================
   Dark Theme
===================================== */


body.dark {

    background:#1e1e1e;

    color:#eee;

}







/* =====================================
   Hero Text
===================================== */


body.dark .hero p {

    color:#bbb;

}








/* =====================================
   VM Cards
===================================== */


body.dark .vm-card {

    background:#2b2b2b;

    color:#eee;

}








/* =====================================
   Form Controls
===================================== */


body.dark input,
body.dark select {


    background:#333;

    color:white;

    border-color:#666;


}








/* =====================================
   Footer
===================================== */


body.dark footer {

    color:#aaa;

}








/* =====================================
   Smooth Transition
===================================== */


body,
.vm-card,
input,
select {

    transition:
    background-color .3s,
    color .3s,
    border-color .3s;

}